<?xml version="1.0" encoding="UTF-8"?>
<!-- Map server, TF map-odom, Rviz -->

<launch>

<!-- Run the map server to load a pre-made map -->
<arg name="map_file" default="$(find autonomous_buddy)/maps/empty_map_74x74x20cm.yaml"/>
<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

<node pkg="tf2_ros" type="static_transform_publisher" name="odom_wrt_map_tf" args="0 0 0.0 0 0 0 map odom" /> 

<!-- launch Rviz with configuration file-->
<node type="rviz" name="rviz" pkg="rviz" respawn="false" args="-d $(find autonomous_buddy)/rviz/autonomous_buddy.rviz"/>

</launch>